.header__lang-link {
  color: #FFF;
  text-decoration-line: none;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear;
}


 /*для экранов менее 400*/
@media screen and (max-width: 400px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
