.cover__subtitle {
  margin: 32px auto 0 auto;
  max-width: 360px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

/* для экранов с разрешением менее 500px */

@media screen and (max-width: 500px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 16px auto 0 auto;
    font-size: 14px;
    line-height: 16px;
  }
}

