.footer__links {
  margin: 0;
  max-width: 465px;
  padding: 0;
  display: flex;
  gap: 18px;
  list-style-type: none;
  color: white;
  justify-content: space-around;
}

/* для экранов с разрешением менее 400px */

@media screen and (max-width: 400px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 48px;
  }
}