.cover {
  max-width: 1184px;
  width: 100%;
  margin: 92px auto 0 auto;
  padding: 0;
}

/* для экранов с разрешением менее 768px */

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 86px;
  }
}



/* для экранов с разрешением менее 400px */

@media screen and (max-width: 400px) {
  .cover {
    margin-top: 80px;
  }
}
