.cover {
  max-width: 1184px;
  width: 100%;
  margin: 92px auto 0 auto;
  padding: 0;
}

/* для экранов с разрешением менее 1024px */

@media screen and (max-width: 1024px) {
  .cover {
    margin-top: 84px;
  }
}

/* для экранов с разрешением менее 400px */

@media screen and (max-width: 400px) {
  .cover {
    margin-top: 66px;
  }
}
