.cover__overlay {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  background-color: rgba(42, 44, 47, 0.3);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* для экранов с разрешением менее 400px */

@media screen and (max-width: 500px) {
  .cover__overlay {
    display: block;
    
  }
}


.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
  transition: opacity 0.3 linear;
}
